/*
Theme Name: Handy Store Child
Theme URI: http://handy.themes.zone
Template: handystore
Author: Themes Zone
Author URI: http://themes.zone
Description: Multi purpose Theme.
Version: 5.0.14 (see readme.txt for detailed changelog)
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, translation-ready
Text Domain: handystorechild
*/
button{
    background-color: #015aab !important;
}
a:hover, a:focus{
    color: #015aab !important;
}
.blogPostsForUser{
	display: none;
}
.logged-in .blogPostsForUser{
	display: block;
}
.widget_maxmegamenu .cat-item.cat-parent a{
	color: #015aab !important;
	font-size: 17px;
}
.widget_maxmegamenu .cat-item.cat-parent a:hover{
	color: white !important;
	font-size: 17px;
}
.widget_maxmegamenu .cat-item a:hover{
	color: #015aab !important;
}
.widget_maxmegamenu .cat-item a{
	color: white !important;
}
.widget_maxmegamenu .cat-item a:hover{
	color: #015aab !important;
}
.icon-with-description i {
    color: #009ddd;
}
.primary-nav .menu li.current_page_item a,
.primary-nav .menu a:hover,
.primary-nav .menu li.current_page_item a:hover {
    background-color: #009ddd;
}
.primary-nav .menu ul a:after {
    background: #009ddd;
}
.format-audio .wp-playlist .wp-playlist-caption:hover {
    color: #009ddd;
}
.to-top {
    color: #009ddd;
    border: 1px solid #009ddd;
}
.to-top:hover {
    background: #009ddd;
}
.woocommerce .widget_layered_nav ul.yith-wcan-label li a:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a {
    background-color: #009ddd;
    border: 2px solid #009ddd;
}
.pt-special:hover .icon {
    background-color: #009ddd;
}
.pt-special-3:hover .icon {
    background-color: #009ddd;
}
.pt-special-4 .icon:after {
    background: #009ddd;
}
.site-content input[type="submit"].dokan-btn-theme,
.site-content a.dokan-btn-theme,
.site-content .dokan-btn-theme {
    background-color: #009ddd;
    border-color: #009ddd;
}
div.product div.images span.prev:hover,
div.product div.images span.next:hover {
    background: #009ddd;
}
.widget_price_filter .ui-slider .ui-slider-range {
    background-color: #009ddd;
}
.vendor-favourite-list .remove-vendor {
    background: #009ddd;
}
.figure.banner-with-effects.with-button.solid-light-button a:hover,
.figure.banner-with-effects.with-button.solid-light-button a:focus {
    background: #009ddd;
    border: 1px solid #009ddd;
}
.btn-default,
.site-content a.btn-default {
    background-color: #009ddd;
}
.progress-bar {
    background-color: #009ddd;
}
.panel-heading:hover a {
    background: #009ddd;
}
.panel-heading:hover a:after {
    color: #009ddd;
}
.panel-title a:after {
    background: #009ddd;
}
.tabbable .nav-tabs li a:before {
    background: #009ddd;
}
.header-primary-nav .suppaMenu .suppa_menu_dropdown .suppa_submenu a:after {
    background: #009ddd;
}
.header-primary-nav .suppaMenu .suppa_menu_links .suppa_submenu_columns_wrap .current-menu-item .suppa_item_title {
    color: #009ddd !important;
}
.owl-theme .owl-controls .owl-page span {
    background: #009ddd;
}
.pt-special:hover .icon {
    background-color: #009ddd;
}
.pt-special-3:before {
    background: #009ddd;
}
.pt-special-3:hover .icon {
    background: #009ddd;
}
.ajax-auth input#username:focus,
.ajax-auth input#password:focus,
.ajax-auth input#signonname:focus,
.ajax-auth input#email:focus,
.ajax-auth input#signonpassword:focus {
    box-shadow: 0 0 2px #009ddd;
    -webkit-box-shadow: 0 0 2px #009ddd;
}
.vc_tta-style-handy-style .vc_tta-tabs-list li a:before {
    background: #009ddd;
}
.vc_tta-style-handy-style .vc_tta-tabs-list li.vc_active a:before {
    background: #009ddd;
}
.vc_tta-style-handy-style .vc_tta-panel-title:hover>a,
#filters-sidebar .widget_price_filter form button.button {
    background: #009ddd !important;
}
.pt-sales-carousel ul.products h4:before {
    background: #009ddd;
}
.woocommerce .button.product_type_variable:hover, 
.woocommerce .outofstock .button:hover,
.woocommerce .star-rating:before,
.woocommerce .star-rating span:before,
.woocommerce .product_type_simple:hover,
.slider-navi span,
.hgroup-sidebar .widget.widget_shopping_cart .heading i
{
	color: #009ddd !important;
}
.slider-navi span:hover{
	color: white !important;
}
li.product .additional-buttons a,
.slider-navi span:hover,
.woocommerce .button.product_type_variable, 
.woocommerce .outofstock .button
{
	background-color: #009ddd !important;
}
.woocommerce a.button, .pt-searchform button.search-button{
    background-color: #015aab !important;
}
.slider-navi span,
.woocommerce .button.product_type_variable, .woocommerce .outofstock .button,
.woocommerce a.button,
.woocommerce a.button:hover,
.pt-view-switcher span.active,
.pt-view-switcher span:hover{
	border-color: #009ddd !important;
}
li.product .product-description-wrapper .price,
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover,
.widget.yith-woocommerce-ajax-product-filter li.chosen,
ul.yith-wcan-list li.chosen > a:before,
.pt-view-switcher span.active{
	color: #015aab !important;
}
li.product span.onsale,
li.product span.custom-badge, 
.pt-searchform button.search-button:hover,
.hgroup-sidebar .widget.widget_shopping_cart .count{
	background-color: #015aab !important;
}

.hgroup-sidebar .widget:first-of-type{
	padding: 20px 0 !important;
}
.hgroup-sidebar .widget{
	padding: 28px 0px !important;
	border: 0;
	border-color: transparent;
}
.hgroup-sidebar .widget.widget_shopping_cart .widget_shopping_cart_content .woocommerce-mini-cart__empty-message{
	text-align: center;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-item:after{
	display: none !important;
}
.hgroup-sidebar .widget.widget_shopping_cart .inner-cart-content{
	top: 10px;
}
#mega-menu-wrap-primary-nav #mega-menu-primary-nav > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:not(.mega-menu-item-has-children) a.mega-menu-link::after{
	background: #015aab !important;
}
.post-list .item-content .buttons-wrapper .comments-qty i, .post-list .item-content .buttons-wrapper .likes-counter i{
	color: 	#dbd4c6 !important;
}
.post-list .buttons-wrapper i{
	color: white !important;
}
.link-to-post a, mark{
	background-color: #009ddd !important;
}
.post-list .item-content:hover .link-to-post a{
	background-color: #015aab !important;
}
.woocommerce ul.products li.product-category.product{
    text-align: center;
}
.products.columns-1 li.product-category.product{
    width: 100%;
    max-width: 100%;
}
.products.columns-2 li.product-category.product{
    width: 50%;
    max-width: 50%;
}
.products.columns-3 li.product-category.product{
    width: 33.3333%;
    max-width: 33.3333%;
}
.products.columns-4 li.product-category.product{
    width: 25%;
    max-width: 25%;
}
.products.columns-5 li.product-category.product{
    width: 20%;
    max-width: 20%;
}

@media (max-width: 767px){
    .woocommerce ul.products li.product-category.product{
        clear: none !important;
        text-align: center
    }
    .woocommerce ul.products.columns-1 li.product-category.product{
        width: 100%;
        max-width: 100% !important;
        padding: 0 10px;
    }
    .woocommerce ul.products.columns-2 li.product-category.product{
        width: 100%;
        max-width: 100% !important;
    }
    .woocommerce ul.products.columns-3 li.product-category.product{
        width: 100%;
        max-width: 100% !important;
    }
    .woocommerce ul.products.columns-4 li.product-category.product{
        width: 100%;
        max-width: 100% !important;
    }
    .woocommerce ul.products.columns-5 li.product-category.product{
        width: 100%;
        max-width: 100% !important;
    }
}
.breadcrumbs-wrapper .page-title{
    line-height: 100px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    color: #015aab;
}
.breadcrumbs-wrapper .woocommerce-breadcrumb{
    color: #015aab !important;
    margin-top: 50px;
}
.breadcrumbs-wrapper .container{
    text-align: left !important;
}
#filters-sidebar .widget_price_filter form{
    height: 200px;
}
.widget_pt_categories{
    padding: 15px;
}
.widget_pt_categories .cat-item a,
.pt-sales-carousel ul.products .price-wrapper ins, .wcv-description-inner .products-count, .widget.woocommerce .product_list_widget li .price, .widget_pt_vendor_products_widget .product_list_widget li .price, div.product p.price, div.product span.price, li.product .product-description-wrapper .price,
.site-footer, .site-footer a{
    color: #009ddd !important;
}
.widget_pt_categories .cat-item a:hover,
.site-footer .widget ul li:before, .site-footer a:hover
{
    color: #015aab !important;
}
.widget_pt_categories .pt-categories li .show-children:hover{
    border-color: #015aab !important;
}
.widget_pt_categories .current-cat{
    font-weight: bold;
    color: #015aab !important; 
}
.woocommerce .product-category .woocommerce-loop-category__title{
    text-transform: uppercase;
    padding-top: 30px;
    color: #015aab !important;
}
.woocommerce-loop-category__title mark{
    display: none !important;
}
.page-template-front-page .sidebar, #sidebar-shop{
    border: 2px solid #009ddd;
    padding-top: 20px;
}
#sidebar-shop{
    padding: 0;
}
.breadcrumbs-wrapper .container{
    border-color: #009ddd !important;
    border-width: 0 0 2px 0;
}
li.product .inner-product-content, .woocommerce div.product div.images .flex-control-thumbs li img.flex-active{
    border-color: #009ddd !important;
    border-width: 2px;
}
.widget{
    border: 0 !important;
}
.widget .widget-title, .widget.woocommerce .widget-title, .sidebar .widget-title,
.shortcode-title{
    font-weight: bold;
    color: #015aab !important; 
}
.site-footer .top-footer-widget{
    border: 0 !important;
}
.yith-wcan a.yith-wcan-reset-navigation.button:hover{
    background-color: #009ddd !important;
    color: white !important;
}