/*
Theme Name: HandyStore
Theme URI: http://handy.themes.zone
Author: Themes Zone
Author URI: http://themes.zone
Description: Multi purpose Theme.
Version: 5.0.14 (see readme.txt for detailed changelog)
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, translation-ready
Text Domain: handystore
*/

/* Table of Contents:

  |-- Reset
  |-- Global Styling
  |-- Inputs & Buttons
  |-- Header
  |-- Content
  |-- Gallery & Images
  |-- Post/Image/Paging Navigation
  |-- Single
  |-- Post Formats
  |-- Comments
  |-- Sidebar
  |-- Footer
  |-- Special Theme Styles
      |-- Home Page Template
      |-- Portfolio template
      |-- Gallery Template
      |-- Contact form 7 styles

*/


/* --------------------------- Reset ------------------------------ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    max-width: 100%;
}
html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/* --------------------------- Global Styling ------------------------------ */
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object,
video {
    margin-bottom: 15px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
p> embed,
p> iframe,
p> object,
span> embed,
span> iframe,
span> object {
    margin-bottom: 0;
}
/* Assistive text */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    line-height: normal;
    padding: 15px 23px 14px;
    position: absolute;
    left: 5px;
    top: 5px;
    text-decoration: none;
    text-transform: none;
    width: auto;
    z-index: 100000;
}
/* Typography */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-tap-highlight-color: transparent;
}
body {
    direction: ltr;
    unicode-bidi: embed;
    font-weight: normal;
    line-height: 1.5;
}
a {
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
a:focus,
a:hover,
a:active {
    outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: bold;
    margin: 0 0 15px 0;
    text-rendering: optimizeLegibility;
}
.entry-content h1,
.entry-summary h1,
.comment-content h1 {
		font-size: 32px;
		line-height: 1.3;
}
.entry-content h2,
.entry-summary h2,
.comment-content h2 {
		font-size: 28px;
		line-height: 1.25;
}
.entry-content h3,
.entry-summary h3,
.comment-content h3 {
		font-size: 24px;
		line-height: 1.2;
}
.entry-content h4,
.entry-summary h4,
.comment-content h4 {
    font-size: 20px;
    line-height: 1.2;
}
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
		font-size: 18px;
		line-height: 1.1;
}
address {
    font-style: italic;
    margin-bottom: 15px;
}
abbr[title] {
    border-style: dotted;
    border-width: 0 0 1px 0;
    cursor: help;
}
b,
strong {
    font-weight: bold;
}
cite,
dfn,
em,
i {
    font-style: italic;
}
blockquote cite {
    display: block;
    margin-top: 10px;
    font-weight: lighter;
}
p {
    margin-bottom: 15px;
}
code,
kbd,
tt,
var,
samp,
pre {
    font-family: monospace, serif;
    font-size: 12px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    font-family: FontAwesome;
}
q:before {
    content: "\f10d";
    padding-right: 5px;
}
q:after {
    content: "\f10e";
    padding-left: 5px;
}
q {
    font-style: normal;
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 16px;
}
blockquote:before {
    content: "\f10d";
    position: absolute;
    font-size: 26px;
    left: 25px;
    padding-top: 3px;
}
blockquote {
    font-style: normal;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 20px 20px 20px 75px;
    border-style: solid;
    border-width: 1px;
    position: relative;
}
blockquote p:last-of-type {
    margin-bottom: 0;
}
pre {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
    max-width: 100%;
    overflow: auto;
    padding: 10px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
mark,
ins {
    text-decoration: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0 2px;
}
ul {
    list-style: disc inside none;
    margin-bottom: 15px;
}
ol {
    list-style: decimal inside none;
    margin-bottom: 15px;
}
li> ul,
li> ol {
    margin: 0 0 0 20px;
}
small {
    font-size: smaller;
}
big {
    font-size: 125%;
}
sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
dl {
    margin-bottom: 15px;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 15px;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}
figure {
    margin: 0;
}
fieldset {
    margin: 0 0 15px;
    padding: 0;
    min-width: 0;
}
legend {
    white-space: normal;
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}
del {
}
hr {
    border: 0;
    height: 1px;
    margin: 20px 0;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
output {
    display: block;
}
table,
th,
td {
    border-style: solid;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 24px 0;
    width: 100%;
}
caption,
th,
td {
    font-weight: normal;
    text-align: left;
}
th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}
td {
    border-width: 0 1px 1px 0;
}
th,
td {
    padding: 5px;
}
/* Support a widely-adopted but non-standard selector for text selection styles
 * to achieve a better experience. See http://core.trac.wordpress.org/ticket/25898.
 */
::selection {
    background: #e1e1e1;
    color: #000;
    text-shadow: none;
}
::-moz-selection {
    background: #e1e1e1;
    color: #000;
    text-shadow: none;
}
/* Alignment */
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Lazysizes extra class */
.lazyload {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.lazyloaded {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.7s ease-out;
    -moz-transition: opacity 0.7s ease-out;
    -ms-transition: opacity 0.7s ease-out;
    -o-transition: opacity 0.7s ease-out;
    transition: opacity 0.7s ease-out;
    -webkit-transition: transform 0.7s ease-out;
    -moz-transition: transform 0.7s ease-out;
    -ms-transition: transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
}
.bypostauthor {
}

/* ----------------------------------------------------------------------------- */
/* Inputs & Buttons */
button,
input,
select,
textarea {
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #fff;
    padding: 0 20px;
    height: 38px;
    line-height: 38px;
    font-size: inherit;
}
input[type="password"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
select,
textarea {
    border-style: solid;
    border-width: 1px;
}
textarea {
    overflow: auto;
    vertical-align: top;
    width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    margin: 0;
    line-height: 1;
    height: auto;
}
input,
textarea {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    /* Removing the inner shadow, rounded corners on iOS inputs */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 0;
    -webkit-appearance: button;
    cursor: pointer;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="file"] {
    display: block;
}
input[type="range"] {
    display: block;
    width: 100%;
}
select[multiple],
select[size] {
    height: auto;
}
input[type="file"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
input[type="number"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="phone"]:focus,
select:focus,
textarea:focus {
    outline: 0;
}
/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
    color: #898e91;
}
:-moz-placeholder {
    color: #898e91;
}
::-moz-placeholder {
    color: #898e91;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #898e91;
}
button[disabled],
html input[disabled] {
    cursor: default;
    opacity: .5;
}


/* ----------------------------------------------------------------------------- */
/* Header */
.site-header {
}
.site-header [class^="col-"],
.site-header [class*=" col-"] {
    margin-bottom: 0px;
}
/* Header Top panel */
.header-top {
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: inset 0 -1px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 #fff;
    font-weight: 300;
}
.header-top .top-nav-container,
.header-top .info-container,
.header-top .top-widgets {
    padding: 15px;
}
.header-top .header-top-nav ul {
    margin: 0;
}
.header-top .header-top-nav li {
    display: inline-block;
    padding: 0 15px 0 10px;
    position: relative;
}
.header-top .header-top-nav li:before {
    display: inline-block;
    content: "\f111";
    font-family: FontAwesome;
    font-size: 6px;
    position: absolute;
    top: 6px;
    left: 0;
}
.header-top .header-top-nav li:last-of-type {
    padding-right: 0;
}
.header-top .info-container {
    text-align: center;
}
.header-top .top-widgets {
    text-align: right;
}
.header-top .top-widgets .widget {
    margin: 0;
}
.header-top .top-widgets .right-aligned {
    display: inline-block;
    padding-left: 12px;
}
.header-top .top-widgets .right-aligned:first-of-type {
    padding-left: 0;
}
/* Logo Group */
.logo-wrapper {
    padding: 20px 0;
}
.hgroup-sidebar {
    text-align: right;
}
.hgroup-sidebar .widget {
    display: inline-block;
    margin: 0;
    padding: 20px 45px;
    border-style: solid;
    border-width: 0 1px 0 0;
    width: auto;
    position: relative;
    vertical-align: top;
}
.hgroup-sidebar .widget:last-of-type {
    padding-right: 0;
    border-right: 0;
}
.hgroup-sidebar.right-pos {
    text-align: left;
}
.hgroup-sidebar .widget.widget_pt_login_widget {
    padding: 6px 45px;
}
.icon-with-description {
    display: inline-block;
    width: auto;
    text-align: left;
}
.icon-with-description i {
    color: #c2d44e;
    float: left;
    font-size: 36px;
    padding: 0 20px 0 0;
}
.icon-with-description span {
    float: none;
    font-size: 15px;
    display: inline-block;
}
.icon-with-description:after {
    display: block;
    content: '';
    clear: both;
}
/* Text Logo */
.site-title {
    font-size: 20px;
    margin: 0;
}
.site-description {
    font-size: 16px;
    margin: 0;
}
/* Primary Navigation */
.header-primary-nav {
    background-color: transparent;
    -webkit-box-shadow: inset 0 -1px 0 0 #e1e1e1, inset 0 -2px 0 0 white;
    box-shadow: inset 0 -1px 0 0 #e1e1e1, inset 0 -2px 0 0 white;
}
.primary-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.primary-nav .menu {
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    background-color: #565656;
}
.primary-nav .menu:before,
.primary-nav .menu:after {
    content: "";
    display: table;
}
.primary-nav .menu:after {
    clear: both;
}
.primary-nav .menu {
    zoom: 1;
}
.primary-nav .menu li {
    float: left;
    position: relative;
    margin-right: 10px;
}
.primary-nav .menu li:hover> ul {
    opacity: 1;
    visibility: visible;
    margin: 0 0 0 1px;
}
.primary-nav .menu li:last-of-type a {
    border-bottom: 0;
}
.primary-nav .menu a {
    padding: 0 6px;
    color: white;
    margin: 8px 0;
    height: 34px;
    line-height: 34px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 16px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -ms-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}
.primary-nav .menu li.current_page_item a,
.primary-nav .menu a:hover,
.primary-nav .menu li.current_page_item a:hover {
    background-color: #c2d44e;
}
.primary-nav .menu li.menu-item-has-children a {
    padding: 0 20px 0 6px;
}
.primary-nav .menu li.menu-item-has-children a:after {
    content: "\f0d7";
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    right: 6px;
}
.primary-nav .menu li.menu-item-has-children .sub-menu a:after {
    content: '';
    right: 0;
}
.primary-nav .menu li .sub-menu a {
    padding: 6px 16px;
}
.primary-nav .menu ul {
    margin: 1px 0 0 0;
    opacity: 0;
    background: #ebebeb;
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 300;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 120%;
}
.primary-nav .menu ul li {
    float: none;
    display: block;
    border: 0;
    margin: 0;
}
.primary-nav .menu ul a {
    display: inline-block;
    border-bottom: 1px solid #e4e4e4;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    padding: 10px 26px;
    color: #646565;
    border-radius: 0;
    margin: 0;
    height: auto;
    width: 100%;
    line-height: 1.5;
}
.primary-nav .menu ul a:after {
    display: block;
    content: '';
    height: 100%;
    width: 3px;
    background: #c2d44e;
    opacity: 0;
    right: 0px;
    left: auto;
    bottom: 0;
    position: absolute;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.primary-nav .menu ul a:hover {
    background-color: #f4f4f4;
    color: #646565;
}
.primary-nav .menu ul a:hover:after {
    opacity: 1;
}
.primary-nav .menu ul ul {
    top: 0px;
    left: 100%;
    width: 100%;
}


/* ----------------------------------------------------------------------------- */
/* Content */
.site-content {
    margin-top: 30px;
    margin-bottom: 0px !important;
}
.archive-title,
.page-title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 1;
}
.archive .site-content,
.category .site-content {
    margin-top: 30px;
}
.taxonomy-description,
.author-description {
    margin: 0 0 20px 0;
    font-weight: lighter;
    vertical-align: middle;
}
/* Article styling on Blog Page */
.site-content article.sticky {
    position: relative;
    padding-top: 10px;
    border-style: solid;
    border-width: 0 0 2px 0;
}
.site-content article.sticky .sticky-post {
    position: absolute;
    top: 0;
    left: 30px;
    display: inline-block;
    padding: 5px 8px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.site-content article {
    margin-bottom: 40px;
    border-style: solid;
    border-width: 1px;
}
.site-content article:last-of-type {
    margin-bottom: 0;
}
.site-content .thumbnail-wrapper {
    max-height: 450px;
    overflow: hidden;
}
.site-content .thumbnail-wrapper img {
    height: auto;
    max-width: 100%;
}
.site-content .content-wrapper {
    padding: 30px;
}
.site-content .entry-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.site-content .entry-title a {
    color: inherit;
}
.site-content .entry-meta .post-author,
.site-content .entry-meta .post-cats,
.site-content .entry-meta .time-wrapper {
    display: inline-block;
}
.site-content .entry-meta .entry-date {
    color: black;
}
.site-content .entry-meta .edit-link {
    padding-left: 20px;
}
.site-content .entry-meta .post-author+ .post-cats:before,
.site-content .entry-meta .post-cats+ .time-wrapper:before {
    display: inline-block;
    content: '|';
    padding: 0 5px 0 2px;
}
.site-content .entry-content {
    margin-top: 30px;
}
.site-content .entry-content input[type="submit"] {
    vertical-align: top;
}
.site-content .entry-additional-meta {
    margin-top: 20px;
}
.site-content .entry-additional-meta .post-comments,
.site-content .entry-additional-meta .likes-counter {
    display: inline-block;
}
.site-content .entry-additional-meta .post-comments i,
.site-content .entry-additional-meta .likes-counter i {
    font-size: 14px;
    padding-right: 3px;
}
.site-content .entry-additional-meta .post-comments i {
    font-size: 16px;
}
.site-content .entry-additional-meta .post-comments+ .likes-counter:before {
    display: inline-block;
    content: '|';
    padding: 0 5px 0 2px;
}
.entry-content,
.entry-summary,
.page-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.entry-content:after,
.entry-summary:after,
.page-content:after {
    display: block;
    content: '';
    clear: both;
}
.entry-content.page-content {
    margin-top: 0;
}
/* Blog Grid layout */
.site-content .blog-grid-wrapper article {
    padding: 0 15px;
    float: left;
    margin-bottom: 30px;
    border: 0;
    max-width: 100%;
}
.site-content .blog-grid-wrapper article .content-wrapper {
    border-style: solid;
    border-width: 1px;
}
.site-content .blog-grid-wrapper article .thumbnail-wrapper+ .content-wrapper,
.site-content .blog-grid-wrapper article .audio-wrapper+ .content-wrapper {
    border-top: 0;
}
.site-content .blog-grid-wrapper article .entry-content,
.site-content .blog-grid-wrapper article .entry-summary {
    margin-top: 20px;
}
.site-content .blog-grid-wrapper article .entry-meta .post-author,
.site-content .blog-grid-wrapper article .entry-meta .post-cats,
.site-content .blog-grid-wrapper article .entry-meta .time-wrapper {
    display: block;
}
.site-content .blog-grid-wrapper article .entry-meta .edit-link {
    display: none;
}
.site-content .blog-grid-wrapper article .entry-meta .post-author:before,
.site-content .blog-grid-wrapper article .entry-meta .post-cats:before,
.site-content .blog-grid-wrapper article .entry-meta .time-wrapper:before {
    display: none;
}
.blog-grid-wrapper {
    margin: 0 -15px;
}
.blog-grid-wrapper .format-video embed,
.blog-grid-wrapper .format-video iframe,
.blog-grid-wrapper .format-video object,
.blog-grid-wrapper .format-video video {
    height: auto;
}
/* Search Results Page */
.search-form label {
    margin: 0;
}
.search-counter-wrapper {
  margin-bottom: 50px;
}
.search-form .search-submit {
    display: inline-block;
    vertical-align: top;
}
.search .search-form {
    margin: 0 0 30px 0;
}
.search p+ .search-form {
    margin: 15px 0 0 0;
}
.search .entry-summary {
    margin-top: 20px;
}
/* 404 Page */
.error404 .page-content,
.error404 .page-header {
    text-align: center;
}
.error404 .search-form {
    margin-top: 20px;
}


/* ----------------------------------------------------------------------------- */
/* Gallery & Images */
.gallery {
    width: 100%;
    margin: 20px 0 0 0;
}
.gallery:after {
    display: block;
    content: '';
    clear: both;
}
.gallery img {
    width: 100%;
    border: 0;
}
.gallery .gallery-item {
    float: left;
    margin: 0 20px 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: inline-block;
}
.gallery-columns-1 .gallery-item {
    max-width: 98%;
    max-width: -webkit-calc(100% - 20px);
    max-width: calc(100% - 20px);
}
.gallery-columns-2 .gallery-item {
    max-width: 49%;
    max-width: -webkit-calc(49.8% - 20px);
    max-width: calc(49.8% - 20px);
}
.gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: -webkit-calc(33% - 20px);
    max-width: calc(33% - 20px);
}
.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 21px);
    max-width: calc(25% - 21px);
}
.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 20px);
    max-width: calc(20% - 20px);
}
.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.5% - 20px);
    max-width: calc(16.5% - 20px);
}
.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 20px);
    max-width: calc(14.28% - 20px);
}
.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 20px);
    max-width: calc(12.5% - 20px);
}
.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 10px);
    max-width: calc(11.1% - 10px);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
    clear: left;
}
.gallery-columns-5 .gallery-caption,
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none !important;
}
.gallery.gallery-columns-9 {
    margin: 0 0 0 -10px;
}
.gallery.gallery-columns-9 .gallery-item {
    margin: 0 0 10px 10px;
}
/* Responsive images. Fluid images for posts, comments, and widgets */
.comment-content img,
.entry-content img,
.entry-summary img,
#site-header img,
.widget img,
.wp-caption,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    max-width: 100%;
    height: auto;
    -webkit-transform: translateZ(0);
}
img.alignleft,
.wp-caption.alignleft {
    margin: 5px 20px 5px 0;
    display: inline-block;
}
img.aligncenter,
.wp-caption.aligncenter {
    margin: 20px auto;
    display: block;
}
img.alignright,
.wp-caption.alignright {
    margin: 5px 0 5px 20px;
    display: inline-block;
}
img.alignnone,
.wp-caption.alignnone {
    display: inline-block;
    margin: 20px 0;
}
.wp-caption {
    margin: 0;
    position: relative;
    overflow: hidden;
}
.wp-caption img[class*="wp-image-"] {
    display: inline-block;
    margin: 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wp-caption-text {
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    display: block;
    width: 100%;
    color: #212121;
    text-align: center;
}
.wp-caption:hover img {
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
}
.wp-caption:hover .wp-caption-text {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* Caption Animation */
figure.gallery-item {
    background: #3498db;
}
figure.gallery-item img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}
figure.gallery-item .gallery-icon::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
figure.gallery-item figcaption.wp-caption-text {
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
    margin: 1em;
    padding: 0 1em;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    max-width: 50%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    display: inline-block;
    transform: none;
}
figure.gallery-item:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
figure.gallery-item:hover .gallery-icon::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
figure.gallery-item:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.gallery-columns-3 .gallery-item figcaption.wp-caption-text,
.gallery-columns-4 .gallery-item figcaption.wp-caption-text {
    max-width: 100%;
}
/* Attachments */
article.attachment {
    overflow: hidden;
    padding: 0;
    border: 0;
}
article.attachment:after {
    display: block;
    content: '';
    clear: both;
}
article.attachment .entry-title {
    font-size: 30px;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-bottom: 7px;
    font-weight: 300;
}
article.attachment .attachment-img {
    text-align: center;
    max-width: 60%;
    float: left;
    margin-right: 20px;
}
article.attachment .attachment-img img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
article.attachment div.attachment-description {
    float: none;
    overflow: hidden;
}
article.attachment .entry-caption {
    line-height: 1.5;
}
article.attachment .entry-content {
    line-height: 1.3;
    padding-bottom: 0;
}
article.attachment .entry-meta {
    padding-top: 20px;
}
article.attachment .entry-caption~ .entry-description {
    padding-top: 20px;
}
article.attachment .post-comments {
    display: inline-block;
}
article.attachment .entry-meta-bottom {
    clear: left;
    float: left;
    width: 100%;
    margin-top: 40px;
}


/* ----------------------------------------------------------------------------- */
/* Post/Image/Paging Navigation */
/* Post Navigation */
.nav-links {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.navigation.post-navigation .nav-links a+ a:before {
    content: '/';
    display: inline-block;
    padding: 0 10px 0 15px;
}
.post-navigation,
.image-navigation {
    display: inline-block;
    float: left;
    padding: 0;
    font-size: 18px;
}
/* Blog Navigation */
.navigation.pagination {
    margin: 40px 0;
    text-align: center;
    clear: both;
    display: inline-block;
    width: 100%;
}
.navigation.pagination .page-numbers {
    font-size: 13px;
    margin-right: 1px;
    display: inline-block;
    padding: 9px 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation.pagination a:hover {
    color: #fff;
}
.navigation.pagination i {
    font-size: 12px;
}
/* Comments navigation */
.comment-numeric-navigation {
    margin: 0 0 30px 0;
    text-align: center;
}
.comment-numeric-navigation .loop-pagination {
    margin-top: -5px;
    text-align: center;
}
.comment-numeric-navigation .page-numbers {
    font-size: 13px;
    margin-right: 1px;
    display: inline-block;
    padding: 9px 15px;
    border-style: solid;
    border-width: 1px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 0;
}
.comment-numeric-navigation ul.page-numbers {
    border: 0;
    padding: 0;
    margin: 0;
}
.comment-numeric-navigation a:hover {
    color: #fff;
}
.comment-numeric-navigation i {
    font-size: 12px;
}
.comment-numeric-navigation .page-links-title {
    float: left;
    padding: 10px 0;
}
.comment-navigation {
    margin: 40px 0;
    text-align: left;
}
.comment-navigation .prev {
    float: left;
}
.comment-navigation .next {
    float: right;
}
.comment-navigation a {
    font-size: 13px;
    display: inline-block;
    padding: 9px 15px;
    border-style: solid;
    border-width: 1px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #fff;
    border-radius: 0;
}
.comment-navigation a:hover {
    color: #fff;
}
.comment-navigation i {
    font-size: inherit;
    padding: 0 5px;
}
.comment-navigation:after {
    display: block;
    clear: both;
    content: '';
}
/* Page links */
.page-links {
    clear: both;
    font-size: 13px;
    font-weight: 400;
    margin: 20px 0;
}
.page-links span {
    border-style: solid;
    border-width: 1px;
    padding: 9px 15px;
    display: inline-block;
    border-radius: 0;
}
.page-links a span {
    border-style: solid;
    border-width: 1px;
    background: #fff;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.page-links a:hover span {
    color: #fff;
}
.page-links> .page-links-title {
    height: auto;
    margin: 0;
    padding: 0 7px 0 0;
    width: auto;
    background: transparent;
    border: 0;
}
/* Blog Breadcrumbs */
.breadcrumbs-wrapper,
.breadcrumbs-wrapper div {
    margin-bottom: 0 !important;
}
.breadcrumbs-wrapper .container {
    padding: 30px 0;
    display: inline-block;
    text-align: right;
    width: 100%;
    max-width: 100%;
    border-style: solid;
    border-width: 0 0 1px 0;
}
.breadcrumbs-wrapper .page-title {
    display: inline-block;
    float: left;
    font-size: 24px;
    padding: 0;
    font-weight: 400;
    margin-bottom: 0;
}
.breadcrumbs-wrapper .breadcrumbs {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 18px;
}


/* ----------------------------------------------------------------------------- */
/* Single */
.entry-meta-bottom {
    border-style: solid;
    border-width: 1px 0 0 0;
    padding: 40px 0 0 0;
    margin: 20px 0 0 0;
}
.entry-meta-bottom .social-links {
    display: inline-block;
    margin: 0;
}
.entry-meta-bottom .social-links> span {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
}
.entry-meta-bottom .social-links a {
    font-size: inherit;
    margin: 0;
    width: auto;
}
.entry-meta-bottom .social-links i {
    font-size: 20px;
}
.entry-meta-bottom .social-links span.sharecount {
    font-size: inherit;
    display: inline-block;
    vertical-align: top;
}
.entry-meta-bottom .social-links .pt-post-share {
    padding: 0 15px;
    border-left: 1px solid #d0d0d0;
    display: inline-block;
}
.entry-meta-bottom .social-links .pt-post-share:first-of-type {
    border-left: 0;
    padding-left: 0;
}
.entry-meta-bottom .like-wrapper {
    display: inline-block;
    float: right;
    margin: 0;
}
.entry-meta-bottom .like-wrapper span {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
}
.entry-meta-bottom .like-wrapper i {
    font-size: 20px;
    vertical-align: top;
    padding-right: 3px;
}
.entry-meta-bottom .like-wrapper a {
    font-size: inherit;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
.entry-meta-bottom .like-wrapper .loading {
    background: url(images/ajax-loader.gif) center no-repeat;
    display: inline-block;
    height: 16px;
    margin: 0;
    width: 16px;
}
.entry-meta-bottom .post-views {
    display: inline-block;
    float: right;
    margin: 0;
}
.entry-meta-bottom .post-views span {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
}
.entry-meta-bottom .post-views i {
    font-size: 20px;
    vertical-align: top;
    padding-right: 3px;
}
.entry-meta-bottom:after {
    display: block;
    content: '';
    clear: both;
}
.entry-meta-bottom .social-links+ .post-views {
    margin-left: 30px;
}
.entry-meta-bottom .post-tags {
    margin-bottom: 20px;
}
.author-info {
    border-style: solid;
    border-width: 1px 0 0 0;
    padding-top: 40px;
    margin-top: 20px;
    padding-left: 90px;
    position: relative;
}
.author-info .author-avatar {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 40px;
}
.author-info .author-title {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}
.author-info .author-total-comments {
    display: inline-block;
}
.author-info .author-total-comments i {
    font-size: 14px;
    padding-right: 5px;
}
.author-info .author-title+ .author-total-comments:before,
.author-info .author-contacts:before {
    content: '|';
    display: inline-block;
    margin: 0 10px;
}
.author-info .author-contacts {
    margin: 0;
    display: inline-block;
}
.author-info .author-contacts i {
    font-size: 16px;
}
.author-info .author-contacts a {
    margin-left: 10px;
    vertical-align: middle;
}
.author-info .author-contacts a:first-of-type {
    margin-left: 0;
}
.entry-meta-bottom+ .author-info {
    margin-top: 50px;
}
/* Related Posts styles */
.post-list:after {
    display: block;
    content: '';
    clear: both;
}
.post-list .post {
    padding: 0 15px;
    list-style: none;
    float: left;
    margin: 0;
}
.post-list .item-content {
    border-style: solid;
    border-width: 1px;
    position: relative;
    padding: 20px 0 0 0;
}
.post-list .item-content h3 {
    font-size: 18px;
    font-weight: 300;
    display: block;
    float: none;
    padding: 0 20px;
    margin-bottom: 0;
}
.post-list .item-content .meta-data {
    padding: 0 20px;
    margin-top: 10px;
}
.post-list .item-content .author {
    border-style: 1px solid #eeeeee;
    padding-right: 15px;
    margin-right: 15px;
}
.post-list .item-content .entry-excerpt {
    margin: 15px 0 20px 0;
    padding: 0 20px;
}
.post-list .item-content .buttons-wrapper {
    border-style: solid;
    border-width: 1px 0 0 0;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 20px;
}
.post-list .item-content .buttons-wrapper .comments-qty,
.post-list .item-content .buttons-wrapper .likes-counter,
.post-list .item-content .buttons-wrapper .link-to-post {
    display: inline-block;
}
.post-list .item-content .buttons-wrapper .comments-qty i,
.post-list .item-content .buttons-wrapper .likes-counter i {
    margin-right: 5px;
    font-size: 15px;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    vertical-align: middle;
    opacity: 0.5;
}
.post-list .item-content .buttons-wrapper .comments-qty {
    margin-right: 10px;
}
.post-list .item-content .buttons-wrapper .comments-qty i {
    font-size: 17px;
}
.post-list .item-content .buttons-wrapper .link-to-post {
    float: right;
}
.post-list .item-content .buttons-wrapper .link-to-post a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding-left: 3px;
    opacity: 0.5;
}
.post-list .item-content .buttons-wrapper:after {
    display: block;
    content: '';
    clear: both;
}
.post-list .item-content:hover .link-to-post a i {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.post-list .item-content:hover .link-to-post a i {
    color: #fff;
}
.post-list .item-content:hover .comments-qty i,
.post-list .item-content:hover .likes-counter i,
.post-list .item-content:hover .link-to-post a {
    opacity: 1;
}
.post-list .thumb-wrapper {
    position: relative;
}
.post-list .thumb-wrapper img {
    width: 100%;
}
.post-list .thumb-wrapper+ .item-content {
    border-top: 0;
}
#related_posts {
    margin-top: 60px;
    clear: both;
}
#related_posts .post-list {
    padding-top: 30px;
    margin: 0 -15px 0 -15px;
}
#related_posts .related-posts-title {
    text-transform: none;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    position: relative;
}


/* ----------------------------------------------------------------------------- */
/* Post Formats */
/* Audio Post Format */
.format-audio {}
.format-audio .audio-wrapper+ .content-wrapper {
    border-top: 0;
}
.format-audio .mejs-offscreen {
    display: none !important;
}
.format-audio .wp-audio-shortcode,
.format-audio .wp-playlist {
    border: 0 none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: inherit;
}
.format-audio .mejs-container .mejs-controls {
    height: 30px;
    position: relative;
    width: 100%;
}
.format-audio .mejs-container .mejs-controls div {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: auto;
    font-size: inherit;
}
.format-audio .mejs-container .mejs-controls .mejs-playpause-button {
    width: 15px;
}
.format-audio .mejs-container .mejs-controls .mejs-button button {
    background: transparent;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 30px;
    color: #505050;
}
.format-audio .mejs-container .mejs-controls .mejs-button button:before {
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 15px;
    content: '';
    font-size: 13px;
    color: inherit;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.format-audio .mejs-container .mejs-controls .mejs-play button:before {
    content: "\f04b";
    left: 0;
}
.format-audio .mejs-container .mejs-controls .mejs-pause button:before {
    content: "\f04c";
    left: 0;
}
.format-audio .mejs-container .mejs-controls .mejs-time {
    box-sizing: content-box;
    color: inherit;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.format-audio .mejs-container .mejs-controls .mejs-time span {
    color: inherit;
    display: inline-block;
    float: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0 5px;
}
.format-audio .mejs-container .mejs-controls .mejs-time-rail {
    padding-top: 7px;
}
.format-audio .mejs-container .mejs-controls .mejs-time-rail span {
    border-radius: 0;
    height: 4px;
}
.format-audio .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
    background: #e9e9e9;
    margin: 5px;
    height: 4px;
}
.format-audio .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #58a7c6;
}
.format-audio .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #dedcdc;
}
.format-audio .mejs-container .mejs-controls .mejs-time-rail .mejs-time-float {
    opacity: 0;
}
.format-audio .mejs-container .mejs-controls .mejs-unmute button:before {
    content: "\f028";
    font-size: 18px;
    left: 7px;
    top: 14px;
}
.format-audio .mejs-container .mejs-controls .mejs-mute button:before {
    content: "\f026";
    font-size: 18px;
    left: 7px;
    top: 14px;
}
.format-audio .mejs-container .mejs-controls .mejs-horizontal-volume-slider {
    height: 30px;
    line-height: 30px;
    position: relative;
    width: 60px;
}
.format-audio .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: #e9e9e9;
    width: 100%;
    height: 4px;
    display: inline-block;
}
.format-audio .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #58a7c6;
    height: 4px;
    display: inline-block;
}
.format-audio .wp-audio-shortcode {
    margin: 20px 0;
}
.format-audio .wp-audio-shortcode.mejs-container .mejs-controls {
    padding: 0 10px;
}
.format-audio .mejs-container .mejs-controls {
    background: transparent;
}
.format-audio .wp-playlist {
    min-height: 140px;
}
.format-audio .wp-playlist .wp-playlist-current-item {
    height: auto;
    display: block;
    margin-bottom: 0px;
    overflow: hidden;
}
.format-audio .wp-playlist .wp-playlist-current-item img {
    max-width: 140px;
    position: absolute;
    z-index: 1;
}
.format-audio .wp-playlist .wp-playlist-current-item .wp-playlist-caption {
    padding: 10px 10px 10px 155px;
}
.format-audio .wp-playlist .wp-playlist-caption {
    font-size: inherit;
    line-height: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}
.format-audio .wp-playlist .wp-playlist-item-meta {
    font-size: inherit;
    line-height: inherit;
}
.format-audio .wp-playlist .wp-playlist-item-title {
    font-size: inherit;
    line-height: inherit;
}
.format-audio .wp-playlist .wp-playlist-item-artist {
    font-size: inherit;
    line-height: inherit;
}
.format-audio .wp-playlist .mejs-container .mejs-controls {
    padding: 0 10px 0 155px;
    background: #fafafa;
}
.format-audio .wp-playlist .wp-playlist-next,
.format-audio .wp-playlist .wp-playlist-prev {
    padding-left: 155px;
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #505050;
}
.format-audio .wp-playlist .wp-playlist-next {
    padding-left: 0px;
    border-left: 1px solid #e5e4e4;
}
.format-audio .wp-playlist .wp-playlist-prev {
    float: left;
    text-align: left;
}
.format-audio .wp-playlist .wp-playlist-next:before,
.format-audio .wp-playlist .wp-playlist-prev:before {
    font-family: FontAwesome;
    display: inline-block;
    content: '';
    width: 30px;
    color: inherit;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.format-audio .wp-playlist .wp-playlist-next:before {
    content: "\f051";
}
.format-audio .wp-playlist .wp-playlist-prev:before {
    content: "\f048";
    width: 19px;
}
.format-audio .wp-playlist .wp-playlist-caption {
    color: inherit;
}
.format-audio .wp-playlist .wp-playlist-caption:hover {
    color: #c2d44e;
}
.format-audio .wp-playlist .wp-playlist-item {
    border-bottom: 0 none;
    color: inherit;
    padding: 5px 0;
}
.format-audio .wp-playlist .wp-playlist-playing {
    background: #FAFAFA;
    color: inherit;
}
.format-audio .wp-playlist .wp-playlist-playing .wp-playlist-item-title:before {
    display: inline-block;
    color: #58a7c6;
    font-family: FontAwesome;
    content: "\f01d";
    font-size: 14px;
    padding-right: 5px;
}
.format-audio .wp-playlist .wp-playlist-playing .wp-playlist-item-length {
    font-weight: bold;
}
.format-audio .wp-playlist .wp-playlist-item-length {
    font-size: inherit;
    line-height: inherit;
    right: 0px;
    top: 5px;
}
.format-audio .wp-playlist .mejs-container .mejs-controls .mejs-play:hover button,
.format-audio .wp-playlist .mejs-container .mejs-controls .mejs-pause:hover button,
.format-audio .wp-playlist .mejs-container .mejs-controls .mejs-unmute:hover button,
.format-audio .wp-playlist .mejs-container .mejs-controls .mejs-mute:hover button,
.format-audio .wp-playlist-next:hover,
.format-audio .wp-playlist-prev:hover {
    color: #58a7c6;
}
.format-audio .wp-playlist-tracks {
    margin: 0;
    padding: 15px 10px 5px;
}
.format-audio .single-audio .wp-playlist-tracks {
    display: none;
}
.format-audio .single-audio .wp-playlist-next {
    display: none;
}
.format-audio .single-audio .wp-playlist-prev {
    display: none;
}
.blog-grid-wrapper .format-audio .wp-playlist .wp-playlist-current-item img {
    position: relative;
    float: left;
}
.blog-grid-wrapper .format-audio .wp-playlist {
    min-height: 180px;
}
.blog-grid-wrapper .format-audio .wp-playlist .wp-playlist-current-item .wp-playlist-caption {
    padding: 10px 10px 10px 0;
}
.blog-grid-wrapper .format-audio .wp-playlist .wp-playlist-current-item {
    margin-bottom: 10px;
}
.blog-grid-wrapper .format-audio .wp-playlist .mejs-container .mejs-controls {
    padding: 0 10px;
}
.blog-grid-wrapper .format-audio .wp-playlist .wp-playlist-prev {
    padding-left: 10px;
}
.blog-grid-wrapper .format-audio .audio-wrapper.single-audio {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}
/* Gallery Post Format */
.format-gallery .entry-carousel+ .content-wrapper {
    border-top: 0px;
}
.format-gallery .entry-carousel {
    overflow: hidden;
}
.blog-gallery {
    background: rgba(0, 0, 0, 0.2);
}
.blog-gallery .owl-controls {
    display: inline-block;
    position: absolute;
}
.blog-gallery .owl-controls .owl-page span {
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.blog-gallery .slide {
    text-align: center;
}
.blog-gallery img {
    display: inline-block;
}
.blog-gallery.paginated .owl-controls {
    left: 30px;
    bottom: 30px;
}
.blog-gallery.paginated .owl-controls .owl-page span {
    background: #fff;
    border-radius: 0;
    display: inline-block;
    height: 5px;
    margin: 5px;
    opacity: 1;
    width: 30px;
}
.blog-gallery.paginated .owl-controls .owl-page:hover span,
.blog-gallery.paginated .owl-controls .owl-page.active span {
    opacity: 0.7;
}


/* ----------------------------------------------------------------------------- */
/* Comments */
.comments-area {
    margin-top: 60px;
    padding: 0;
    clear: both;
}
.comments-area .comments-title,
.comments-area .comment-reply-title {
    text-transform: none;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    position: relative;
}
.page .comments-area .comments-title,
.page .comments-area .comment-reply-title {
    font-size: 26px;
}
.comments-area .comments-list {
    margin: 0;
    padding: 30px 0;
}
.comments-area .comments-list .comment {
    margin-bottom: 20px;
    position: relative;
    min-height: 70px;
    border: 0 none;
    float: none;
}
.comments-area .comments-list .comment:last-of-type {
    margin: 0 !important;
}
.comments-area .comments-list .comment .child-comments {
    margin: 0 0 0 50px;
    padding: 20px 0 0 0;
    clear: both;
}
.comments-area .gravatar {
    display: inline-block;
    float: left;
}
.comments-area .comment-meta {
    hyphens: auto;
    padding: 0 0 0 100px;
    word-wrap: break-word;
}
.comments-area .comment-meta .comment-author {
    display: inline-block;
    margin-bottom: 0;
}
.comments-area .comment-meta .comment-author-link,
.comments-area .comment-meta .author {
    display: inline-block;
}
.comments-area .comment-meta .comment-meta-time+ .comment-reply-link:before,
.comments-area .comment-meta .comment-meta-time+ .comment-edit-link:before,
.comments-area .comment-meta .comment-edit-link+ .comment-reply-link:before {
    content: '|';
    display: inline-block;
    margin: 0 10px;
    color: #898e91;
}
.comments-area .comment-meta-item {
    margin: 0;
    padding: 0 0 0 100px;
}
.comments-area .comment-content {
    padding: 0 0 0 100px;
    margin-top: 10px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.comments-area .comment-form {
    padding: 30px 0;
}
.comments-area .comment-form input[type="text"],
.comments-area .comment-form input[type="email"],
.comments-area .comment-form input[type="url"],
.comments-area .comment-form textarea {
    padding: 8px 20px;
    background: #fefefe;
    width: 100%;
    max-width: 470px;
}
.comments-area .comment-form label {
    display: none;
}
.comments-area .comment-form textarea {
    max-width: 670px;
    min-height: 200px;
}
.comments-area small {
    display: block;
    margin: 15px 0 0 0;
    font-size: 20px;
}
.comments-area small #cancel-comment-reply-link:before {
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    padding-right: 5px;
}
.comments-area .pingback .comment-meta,
.comments-area .trackback .comment-meta,
.comments-area .pingback .comment-content,
.comments-area .trackback .comment-content {
    padding: 0;
}
.required {
    color: #c0392b;
}
@media (max-width: 480px) {
  .comments-area .comments-list .comment .child-comments {
      margin: 0;
  }
}

/* ----------------------------------------------------------------------------- */
/* Sidebar */
.sidebar {
    margin-top: 30px;
}
.sidebar [class^="col-"],
.sidebar [class*=" col-"] {
    margin-bottom: 0px;
}
/* Widgets */
.widget .wpb_content_element {
    margin-bottom: 0;
}
.widget {
    margin: 0 0 30px 0;
}
.widget .widget-title {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 15px 0;
}
.widget ul {
    list-style: none;
    margin-bottom: 0;
}
.widget ul li {
    list-style: none;
    position: relative;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 5px 0;
}
.widget ul li:last-of-type {
    border-bottom: 0;
}
.widget ul li:before {
    display: none;
    padding-right: 0;
}
/* Tag cloud */
.tagcloud {
    padding-top: 10px;
}
.tagcloud a {
    font-size: 12px;
    color: #3d3d3d;
    padding: 5px 10px;
    background: #fafafa;
    display: inline-block;
    margin: 0 10px 10px 0;
    float: left;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.tagcloud a:hover,
.tagcloud a:focus,
.tagcloud a:active {
    color: #fff !important;
    background: #81CFDC;
}
.tagcloud:after {
    display: block;
    content: '';
    clear: both;
}
/* WP Search */
.widget_search label {
    width: 100%;
    margin-bottom: 0;
}
.widget_search .search-form {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0;
}
.widget_search .search-field {
    display: inline-block;
    width: 100%;
    padding: 11px 80px 10px 10px;
}
.widget_search .search-submit {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
}
/* Categories & Archive widget */
.widget.widget_categories ul li,
.widget.widget_archive ul li {
    text-align: right;
}
.widget.widget_categories ul li a,
.widget.widget_archive ul li a {
    text-align: left;
    float: left;
    display: block;
    max-width: 80%;
}
.widget.widget_categories ul li:after,
.widget.widget_archive ul li:after {
    display: block;
    content: '';
    clear: both;
}


/* ----------------------------------------------------------------------------- */
/* Footer */
.footer-shortcode+ .site-footer {
    margin-top: 0px;
}
.site-footer {
    color: #aeb4bc;
    margin-top: 80px;
}
.site-footer [class^="col-"],
.site-footer [class*=" col-"] {
    margin-bottom: 0px;
}
.site-footer .top-footer-widget {
    border-bottom: 1px solid #484e56;
}
.site-footer .widget {
    margin: 40px 0;
}
.site-footer .widget-title {
    font-size: 18px;
}
.site-footer .widget ul {
    list-style: none;
    margin-bottom: 0;
}
.site-footer .widget ul li {
    list-style: none;
    position: relative;
    border: 0 none;
}
.site-footer .widget ul li:before {
    display: inline-block;
    content: "\f054";
    font-family: FontAwesome;
    vertical-align: middle;
    font-size: 8px;
    padding-right: 5px;
}
.site-footer .widget.pt-socials-widget {
    margin: 15px 0;
    display: inline-block;
}
.site-footer .widget.pt-socials-widget .widget-title {
    margin: 0 30px 0 0;
    vertical-align: middle;
    display: inline-block;
}
.site-footer .widget.pt-socials-widget a {
    color: #545b65;
}
.site-footer .widget.pt-socials-widget a:hover,
.site-footer .widget.pt-socials-widget a:focus,
.site-footer .widget.pt-socials-widget a:active {
    color: #fff;
}
.site-footer .footer-bottom {
    border-top: 1px solid #484e56;
}
.site-footer .site-info {
    padding: 20px 0;
}
.site-footer input[type="password"],
.site-footer input[type="text"],
.site-footer input[type="email"],
.site-footer input[type="number"],
.site-footer input[type="search"],
.site-footer input.input-text,
.site-footer textarea {
    color: inherit;
    border-color: #4f555f;
    -webkit-box-shadow: inset 0 0 0 1px #4a515a;
    -moz-box-shadow: inset 0 0 0 1px #4a515a;
    box-shadow: inset 0 0 0 1px #4a515a;
    background: transparent;
}
.site-footer .widget.widget_categories ul li,
.site-footer .widget.widget_archive ul li {
    text-align: left;
}
.site-footer .widget.widget_categories ul li a,
.site-footer .widget.widget_archive ul li a {
    text-align: left;
    float: none;
    display: inline-block;
    max-width: 100%;
}
.site-footer .widget.widget_categories ul li:after,
.site-footer .widget.widget_archive ul li:after {
    display: block;
    content: '';
    clear: both;
}


/* ----------------------------------------------------------------------------- */
/* Special Theme Styles */
.text-align-center {
    text-align: center;
}

/* Home Page Template */
.page-template-front-page .site-content {
    margin-top: 30px;
}
.page-template-front-page .site-content .entry-content {
    margin-top: 0;
}
.page-template-front-page .sidebar {
    margin-top: 30px;
}
#special-sidebar-front .row {
    margin-top: 30px;
    padding-top: 30px;
    border-style: solid;
    border-width: 1px 0 0 0;
}
#special-sidebar-front .widget {
    border: 0;
    border-radius: 0;
    padding: 0 15px;
    margin-bottom: 30px;
}
.footer-shortcode {
    margin-top: 30px;
    padding: 50px 0;
}
.footer-shortcode [class^="col-"],
.footer-shortcode [class*=" col-"] {
    margin-bottom: 0px;
}
.front-page-shortcode {
    padding: 50px 0;
}

/* Portfolio template */
#portfolio-gallery {
    margin: 0 -15px;
    width: auto;
}
#portfolio-gallery figure.gallery-item {
    margin: 0;
    padding: 15px;
    max-width: 100%;
    background: transparent;
}
#portfolio-gallery .gallery-icon {
    overflow: hidden;
    position: relative;
}
#portfolio-gallery .gallery-icon::before {
    display: none;
}
#portfolio-gallery .gallery-icon .quick-view {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #f4f4f4;
    color: #555555;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
}
#portfolio-gallery .gallery-icon .quick-view .fa {
    font-size: 22px;
}
#portfolio-gallery .gallery-icon .quick-view:hover {
    color: #fff;
}
#portfolio-gallery .gallery-item img {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
}
#portfolio-gallery .gallery-item:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}
#portfolio-gallery .gallery-item:hover .quick-view {
    opacity: 0.8;
}
#portfolio-gallery .portfolio-item-description {
    margin: 0;
    text-align: left;
    padding: 25px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
}
#portfolio-gallery .portfolio-item-description h3 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
#portfolio-gallery .portfolio-item-description div {
    margin-top: 30px;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper .comments-qty,
#portfolio-gallery .portfolio-item-description .buttons-wrapper .likes-counter,
#portfolio-gallery .portfolio-item-description .buttons-wrapper .link-to-post {
    display: inline-block;
    margin-top: 0;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper .comments-qty i,
#portfolio-gallery .portfolio-item-description .buttons-wrapper .likes-counter i {
    margin-right: 5px;
    font-size: 15px;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    vertical-align: middle;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper .comments-qty {
    margin-right: 10px;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper .comments-qty i {
    font-size: 17px;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper .link-to-post {
    float: right;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper .link-to-post i {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper .link-to-post a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0 0 0 9px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0.5;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper .link-to-post a:hover {
    opacity: 1;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper .link-to-post a:hover i {
    color: #fff;
}
#portfolio-gallery .portfolio-item-description .buttons-wrapper:after {
    display: block;
    content: '';
    clear: both;
}

/* Gallery Template */
#pt-gallery {
    margin: 0 -15px;
    width: auto;
}
#pt-gallery figure.gallery-item {
    margin: 0;
    padding: 15px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background: transparent;
}
#pt-gallery .gallery-icon::before {
    display: none;
}
#pt-gallery .gallery-item:hover .gallery-icon img {
    opacity: 0.9;
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#pt-gallery .gallery-item:hover .gallery-item-description:before {
    opacity: 1;
    -ms-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
#pt-gallery .gallery-item:hover p {
    opacity: 1;
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#pt-gallery .gallery-item:hover h3 {
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}
#pt-gallery .gallery-icon {
    overflow: hidden;
    position: relative;
}
#pt-gallery .gallery-icon img {
    margin: -10px 0 0 -10px;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
    max-width: calc(100% + 10px);
    -ms-transition: opacity 0.35s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, -webkit-transform 0.35s;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -ms-transform: translate3d(10px, 10px, 0);
    -moz-transform: translate3d(10px, 10px, 0);
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#pt-gallery .gallery-item-description {
    margin: 0;
    padding: 1em;
    height: 100%;
    max-height: -moz-calc(100% - 30px);
    max-height: -webkit-calc(100% - 30px);
    max-height: calc(100% - 30px);
    width: 100%;
    max-width: -moz-calc(100% - 30px);
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    top: 15px;
    overflow: hidden;
}
#pt-gallery .gallery-item-description:before {
    -ms-transition: opacity 0.35s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, -webkit-transform 0.35s;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    position: absolute;
    right: -40px;
    bottom: -70px;
    width: 140px;
    height: 140px;
    border: 2px solid #fff;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#pt-gallery .gallery-item-description p {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 10px 10px 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(20px, 20px, 0);
    transform: translate3d(20px, 20px, 0);
    margin: 0;
    opacity: 0;
}
#pt-gallery .gallery-item-description p a {
    display: inline-block;
    margin: 0 0 0 10px;
    color: #fff;
    background: transparent;
    padding: 3px;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    position: relative;
}
#pt-gallery .gallery-item-description p a i {
    font-size: 18px;
}
#pt-gallery .gallery-item-description p a:hover,
#pt-gallery .gallery-item-description p a:focus,
#pt-gallery .gallery-item-description p a:active {
    color: #b1b1b1;
}
#pt-gallery .gallery-item-description h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 3px;
    max-width: 50%;
    -webkit-transition: -webkit-transform 0.35s, background-color 0.35s;
    transition: transform 0.35s, background-color 0.35s;
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    background: transparent;
}
/* Portfolio, Gallery filters */
.portfolio-filters-wrapper {
    display: block;
    text-align: left;
    padding: 0;
    margin-bottom: 25px;
}
.portfolio-filters-wrapper label {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 300;
    vertical-align: middle;
}
.portfolio-filters-wrapper ul {
    margin: 0;
    list-style: none;
}
.portfolio-filters-wrapper:after {
    display: table;
    clear: both;
    content: '';
}
.portfolio-filters-wrapper li {
    display: inline-block;
    margin: 0 10px 10px 0;
    list-style: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out, color 0.3s ease-out;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
.portfolio-filters-wrapper li:hover {
    color: #fff;
}

/* Contact form 7 styles */
.wpcf7 {
    text-align: center;
}
.wpcf7 form {
    max-width: 770px;
    display: inline-block;
    width: 100%;
}
.wpcf7 input,
.wpcf7 textarea {
    width: 100%;
    max-width: 100%;
    background: #ebebeb;
    color: #6a6a6a;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border-color: #dbdbdb;
    font-weight: lighter;
}
.wpcf7 textarea {
    min-height: 250px;
    padding-top: 8px;
}
.wpcf7 .wpcf7-submit {
    width: auto;
    display: inline-block;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wpcf7 input::-webkit-input-placeholder {
    text-align: center;
}
.wpcf7 input:-moz-placeholder {
    text-align: center;
}
.wpcf7 input::-moz-placeholder {
    text-align: center;
}
.wpcf7 input:-ms-input-placeholder {
    text-align: center;
}
.wpcf7 textarea::-webkit-input-placeholder {
    text-align: center;
}
.wpcf7 textarea:-moz-placeholder {
    text-align: center;
}
.wpcf7 textarea::-moz-placeholder {
    text-align: center;
}
.wpcf7 textarea:-ms-input-placeholder {
    text-align: center;
}

/* To top button */
.to-top {
    display: inline-block;
    height: 40px;
    line-height: 35px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    overflow: hidden;
    background: transparent;
    visibility: hidden;
    opacity: 0;
    font-size: 32px;
    text-align: center;
    color: #c2d44e;
    border: 1px solid #c2d44e;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    z-index: 500;
}
.to-top:hover {
    background: #c2d44e;
    color: #fff;
}
.to-top.top-is-visible {
    visibility: visible;
    opacity: 1;
}
.to-top.top-fade-out {
    opacity: .5;
}
.no-touch .to-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .to-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (max-width: 480px) {
    .to-top {
      display: none;
    }
}
@media only screen and (min-width: 1024px) {
    .to-top {
        height: 60px;
        line-height: 50px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

/* YITH filters styles */
.widget.yith-woocommerce-ajax-product-filter {
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    padding: 25px;
}
.widget.yith-woocommerce-ajax-product-filter.woocommerce li {
    list-style: none;
}
.widget.yith-woocommerce-ajax-product-filter.woocommerce .yith-wcan-list li:last-of-type {
    border: 0;
}
.widget.yith-woocommerce-ajax-product-filter.woocommerce .yith-wcan-list li {
    border-style: solid;
    border-width: 0 0 1px 0;
}
.widget.yith-woocommerce-ajax-product-filter.woocommerce .yith-wcan-list li a {
    padding-left: 20px;
}
.widget.yith-woocommerce-ajax-product-filter .yith-wcan-list li.chosen a:before {
    content: "\e80a";
}
.widget.yith-woocommerce-ajax-product-filter.widget_layered_nav ul li.chosen a {
    background: transparent;
    border: 0;
    color: inherit;
}
.widget.yith-woocommerce-ajax-product-filter .yith-wcan-list li a:before {
    display: inline-block;
    content: "\e809";
    font-family: 'custom_font';
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 15px;
    padding: 0;
}
.woocommerce .widget_layered_nav ul.yith-wcan-color li {
    border-bottom: 0;
}
.woocommerce .widget_layered_nav ul.yith-wcan-color li a,
.woocommerce .widget_layered_nav ul.yith-wcan-color li span {
    border: 2px solid #f1f1f1;
    height: 30px;
    margin: 0 5px 0 0;
    width: 30px;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.woocommerce .widget_layered_nav ul.yith-wcan-color li a:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-color li.chosen a,
.woocommerce .widget_layered_nav ul.yith-wcan-color li span:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-color li.chosen span {
    opacity: 1;
    border: 2px solid #f1f1f1;
}
.woocommerce a.button.yith-wcan-reset-navigation {
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -ms-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    margin-top: 6px;
}
.woocommerce .widget_layered_nav ul.yith-wcan-label li a,
.woocommerce .widget_layered_nav ul.yith-wcan-label li span {
    background: transparent;
    border: 2px solid #f1f1f1;
    margin: 0 5px 0 0;
    min-width: 34px;
    height: 34px;
    line-height: 26px;
    text-align: center;
    padding: 2px;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
}
.woocommerce .widget_layered_nav ul.yith-wcan-label li a:hover,
.woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a {
    background-color: #c2d44e;
    border: 2px solid #c2d44e;
}
.woocommerce .widget_layered_nav ul.yith-wcan-label li,
.woocommerce .widget_layered_nav ul.yith-wcan-color li {
    padding-bottom: 0;
}
.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li a,
.widget .yit-wcan-select-open {
    max-width: 210px;
}
.widget-area .yith-wcan-select-wrapper {
    max-width: 210px;
    margin-top: -1px;
    border-color: #e1e1e1;
}
.widget .yit-wcan-select-open {
    background-color: #fafafa;
    background-image: none;
    border-color: #e1e1e1;
    color: #505050;
    height: 34px;
    line-height: 32px;
    padding: 0px 30px 0px 15px;
    margin: 16px 0 0 0;
    position: relative;
}
.widget .yit-wcan-select-open::after {
    content: "\f106";
    display: block;
    font-family: FontAwesome;
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 0;
}
#filters-sidebar {
    padding-bottom: 6px;
}
#filters-sidebar .widget.yith-woocommerce-ajax-product-filter {
    border: 0;
    border-radius: 0;
    padding: 0 8px;
    display: inline-block;
    position: relative;
}
#filters-sidebar .dropdown-filters-title {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    padding: 8px 20px;
    text-transform: uppercase;
    background: #f5f5f5;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
}
#filters-sidebar .widget.yith-woocommerce-ajax-product-filter .yith-wcan {
    background-color: #fff;
    padding: 20px 20px 25px;
    min-width: 200px;
    position: absolute;
    top: 60px;
    left: 50%;
    margin: 0 0 0 -100px;
    border-style: solid;
    border-width: 1px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, -15px, 0);
    -moz-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    -webkit-transition: opacity 0.35s, transform 0.35s;
    -moz-transition: opacity 0.35s, transform 0.35s;
    -ms-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
#filters-sidebar .widget.yith-woocommerce-ajax-product-filter .yith-wcan:after,
#filters-sidebar .widget.yith-woocommerce-ajax-product-filter .yith-wcan:before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 80px;
}
#filters-sidebar .widget.yith-woocommerce-ajax-product-filter .yith-wcan:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e1e1e1;
}
#filters-sidebar .widget.yith-woocommerce-ajax-product-filter .yith-wcan:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #fff;
    top: -9px;
    right: 82px;
}
#filters-sidebar .widget.yith-woocommerce-ajax-product-filter.hovered .yith-wcan {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}


/* --------------------------- 4.0 Media Queries ------------------------------ */

@media (max-width: 767px) {
    .site-logo {
        text-align: center;
        margin-bottom: 20px;
    }
    .hgroup-sidebar {
        text-align: center;
    }
    .hgroup-sidebar .widget {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border: 0;
    }
    .hgroup-sidebar .widget.widget_shopping_cart {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        min-width: 74px;
        margin-top: 10px;
        float: right;
    }
    .top-nav-container,
    .info-container,
    .header-top .top-widgets {
        text-align: center;
    }
    .banner-with-effects {
        font-size: 60%;
    }
    .post-list .post {
        margin-bottom: 30px;
    }
    .entry-meta-bottom .social-links .pt-post-share {
        padding: 0 8px;
    }
    .entry-meta-bottom .like-wrapper {
        float: left;
        margin: 15px 0 0;
    }
    .entry-meta-bottom .post-views {
        float: left;
        margin: 15px 30px 0 0 !important;
    }
    .breadcrumbs-wrapper .breadcrumbs {
        float: left;
        padding: 15px 0 0 0;
        text-align: left;
        display: block;
        width: 100%;
    }
}
@media (max-width: 480px) {
    .hgroup-sidebar {
        text-align: right;
    }
    .hgroup-sidebar .widget {
        text-align: center;
    }
    .hgroup-sidebar .widget.widget_text {
        text-align: left;
        display: inline-block;
        float: left;
        width: auto;
    }
    .hgroup-sidebar .widget.widget_text .textwidget {
        display: inline-block;
    }
    .header-top .info-container {
        padding: 0 15px;
    }
    .banner-with-effects {
        font-size: 45%;
    }
    .breadcrumbs-wrapper .page-title {
        float: none;
        display: none;
    }
    .archive-title,
    .page-title {
        text-align: center;
    }
    .breadcrumbs-wrapper .breadcrumbs {
        float: none;
        text-align: center;
        padding: 20px 0 0;
    }
    .post-navigation,
    .image-navigation {
        float: none;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .pt-searchform {
        text-align: center;
        min-width: auto;
    }
    .entry-meta-bottom .social-links {
        display: block;
        margin: 0 0 10px 0;
    }
    #related_posts .post-list.owl-carousel {
        margin: 0;
    }
    #related_posts .post-list.owl-carousel li {
        padding: 0;
    }
    .site-content .content-wrapper {
        padding: 30px 20px;
    }
    article.attachment .attachment-img {
        max-width: 100%;
        float: none;
        margin-right: 0;
    }
    article.attachment div.attachment-description {
        float: none;
        display: block;
        clear: both;
        padding: 25px 0 0 0;
        overflow: visible;
    }
}
@media (min-width: 768px) {
    .site-logo {
        text-align: center;
        margin-bottom: 20px;
    }
    .hgroup-sidebar {
        text-align: center;
    }
    .hgroup-sidebar .widget:first-of-type {
        padding-left: 0;
    }
    .entry-meta-bottom .social-links+ .post-views {
        margin-left: 0;
    }
    .entry-meta-bottom .post-views {
        display: block;
        float: none;
        margin: 10px 0 0 0;
    }
    .entry-meta-bottom .like-wrapper {
        display: block;
        float: none;
        margin: 10px 0 0 0;
    }
    .post-list .post {
        margin-bottom: 30px;
    }
    .post-list .post:nth-child(3) {
        clear: left;
    }
    .post-list .post:last-of-type {
        margin-bottom: 0px;
    }
    #related_posts+ .comments-area {
        margin-top: 30px;
    }
    .banner-with-effects {
        font-size: 50%;
    }
}
@media (min-width: 992px) {
    .site-logo {
        margin-bottom: 0px;
    }
    .hgroup-sidebar {
        text-align: center;
    }
    .hgroup-sidebar .widget:first-of-type {
        padding-left: 0;
    }
    .breadcrumbs-wrapper .breadcrumbs {
        display: inline-block;
        float: none;
        padding: 0;
        text-align: right;
        width: auto;
    }
    .post-list .post:nth-child(3) {
        clear: none;
    }
    .entry-meta-bottom .social-links+ .post-views {
        margin-left: 30px;
    }
    .entry-meta-bottom .post-views {
        display: inline-block;
        float: right;
        margin: 0;
    }
    .entry-meta-bottom .like-wrapper {
        display: inline-block;
        float: right;
        margin: 0;
    }
    .banner-with-effects {
        font-size: 80%;
    }
}
@media (min-width: 1200px) {
    .hgroup-sidebar {
        text-align: right;
    }
    .site-logo {
        margin-bottom: 0px;
    }
    .banner-with-effects {
        font-size: 100%;
    }
}

/* HTML Banners */
.pt-special {
    padding: 30px;
    border: 1px solid #e1e1e1;
    background: #fff;
    text-align: center;
}
.pt-special .icon {
    display: inline-block;
    width: 96px;
    height: 96px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #e1e1e1;
    position: relative;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.pt-special .fa {
    position: absolute;
    right: -10px;
    bottom: -10px;
    font-size: 75px;
    color: #fff;
}
.pt-special h4 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #484747;
    font-weight: 200;
    margin: 20px 0;
    padding: 0;
}
.pt-special p {
    color: #898e91;
    margin: 0;
}
.pt-special:hover .icon {
    background-color: #c2d44e;
}
.pt-special-3 {
    padding: 30px;
    text-align: center;
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 4px 1px 1px 1px;
    position: relative;
}
.pt-special-3:before {
    display: block;
    content: '';
    height: 4px;
    width: 0;
    left: 50%;
    top: -4px;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #c2d44e;
}
.pt-special-3:hover:before {
    width: 100%;
    left: 0;
}
.pt-special-3:hover .icon {
    background-color: #c2d44e;
}
.pt-special-3:hover .icon i {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.pt-special-3 .icon {
    display: inline-block;
    width: 95px;
    height: 95px;
    line-height: 105px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #e1e1e1;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.pt-special-3 .icon i {
    font-size: 26px;
    color: #fff;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.pt-special-3 h4 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #484747;
    font-weight: 400;
    margin: 30px 0 10px 0;
    padding: 0;
}
.pt-special-3 p {
    color: inherit;
    margin: 0;
}
.pt-special-4 {
    padding: 45px 20px 20px;
    text-align: center;
    position: relative;
    margin: 40px 0 0 0;
    border: 1px solid #e1e1e1;
}
.pt-special-4:hover .icon:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.pt-special-4:hover .icon:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}
.pt-special-4 .icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    position: absolute;
    right: 20px;
    top: -40px;
    z-index: 1;
}
.pt-special-4 .icon:before,
.pt-special-4 .icon:after {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pt-special-4 .icon:before {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    border: 3px solid #c2d44e;
}
.pt-special-4 .icon:after {
    background: #c2d44e;
}
.pt-special-4 .icon i {
    color: #fff;
    font-size: 34px;
    line-height: inherit;
}
.pt-special-4 h4 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin: 10px 0;
    padding: 0;
}
.pt-special-4 p {
    margin: 0 0 20px 0;
}

/* Dokan Special Styles */
.site-content #dokan-seller-listing-wrap ul.dokan-seller-wrap li .store-wrapper {
    box-shadow: none;
    border: 1px solid #e1e1e1;
}
.site-content #dokan-seller-listing-wrap ul.dokan-seller-wrap li .store-footer {
    background: #fafafa;
    border-top: 1px solid #e1e1e1;
}
.site-content #dokan-seller-listing-wrap ul.dokan-seller-wrap li .store-content .store-info .featured-favourite .featured-label,
.site-content #dokan-seller-listing-wrap ul.dokan-seller-wrap li.no-banner-img .store-content .store-info .featured-favourite .featured-label {
    background: #81cfdc;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
}
.site-content #dokan-seller-listing-wrap ul.dokan-seller-wrap li .store-content .store-info .store-data .dokan-seller-rating span:before {
    color: #c2d44e;
}
.site-content #dokan-seller-listing-wrap ul.dokan-seller-wrap li .store-content .store-info .store-data .dokan-seller-rating {
    width: 70px;
    height: 18px;
}
.site-content input[type="submit"].dokan-btn-theme,
.site-content a.dokan-btn-theme,
.site-content .dokan-btn-theme {
    color: #fff;
    background-color: #c2d44e;
    border-color: #c2d44e;
    border-radius: 0;
}
.site-content input[type="submit"].dokan-btn-theme:hover,
.site-content a.dokan-btn-theme:hover,
.site-content .dokan-btn-theme:hover,
.site-content input[type="submit"].dokan-btn-theme:focus,
.site-content a.dokan-btn-theme:focus,
.site-content .dokan-btn-theme:focus {
    color: #fff;
    background-color: #b5c648;
    border-color: #b5c648;
}
.site-content .dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info {
    padding: 0 30px 0 50px;
}
.site-content .dokan-store-sidebar form.seller-form ul li {
    border: 0;
}
.site-content .dokan-single-store .dokan-store-tabs ul {
    border-color: #e1e1e1;
}
.dokan-store .breadcrumbs-wrapper:first-of-type {
  display: none;
}
.site-content .dokan-single-store .profile-frame {
    border: 1px solid #e1e1e1;
}
.dokan-dashboard .site-content .dokan-dashboard-content article {
    border: 0;
}
.dokan-dashboard .site-content .dokan-dashboard-content article label {
    display: block;
}
.site-content .dokan-single-store .profile-frame .profile-info-box.profile-layout-layout1 .profile-info-summery-wrapper,
.site-content .dokan-single-store .profile-frame .profile-info-box.profile-layout-layout2 .profile-info-summery-wrapper {
    border: 0;
    border-top: 1px solid #e1e1e1;
}
.site-content .dokan-single-store .profile-frame .profile-info-box.profile-layout-layout2 .profile-info-summery-wrapper .profile-info-summery .profile-info .store-name,
.site-content .dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info .store-name {
  line-height: 1.5;
}
.site-content .dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery {
    border: 0;
}
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info .dokan-store-info:after {
  display: table;
  content: '';
  clear: both;
}
.dokan-dashboard.single .dokan-dashboard-wrap {
  padding: 0 15px;
  margin-top: 40px;
}
.dokan-category-menu #cat-drop-stack > ul li.parent-cat-wrap ul.level-0 {
    background: #fafafa;
    margin-left: 0;
}
.site-content .dokan-category-menu #cat-drop-stack ul li:last-child.has-children a {
    border-bottom: 0 !important;
}
.site-content .dokan-single-store .profile-frame .profile-info-box.profile-layout-layout2 .profile-info-summery-wrapper {
    height: 240px;
}
